/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */

.container{
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items{
    position: relative;
    width: 700px;
    height: 300px;
}

.prev, .next{
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 10px 0;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    cursor: pointer;
}

.item{
    height: 100%;
    position: relative;
}

.item-active{
    display: block;
}

.item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}